
nav {
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}


ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
}

body {
    margin: 0vw 10vw;
    background-color: rgb(245, 218, 169);
}

main {
    background-color: beige;
    
    h1 {
        text-align: center;
    }
    p{
        margin: 2vw 3vw;
        text-align: center;
    }
    
    
}


