
nav {
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
        border: 6px solid;
      border-radius: 15px;
      border-color: plum;
}





ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
}

body {
    margin: 0vw 10vw;
    background-color: rgb(245, 218, 169);
}

.hero {
      background-color: pink;
      border: 6px solid;
      border-radius: 15px;
      border-color: plum;
      margin-top: 15px;
}

      h1 {
        text-align: center;
        font-family: "Cherry Bomb One", system-ui;
        font-weight: 400;
        font-style: normal;   
}

main {
    background-color: beige;
    
     h1 {
        text-align: center;
        font-family: "Cherry Bomb One", system-ui;
        font-weight: 400;
        font-style: normal;
          
    }
    h2 {
          font-family: "Sour Gummy", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          font-variation-settings:
          "width" 100;
    }
    p{
        margin: 2vw 3vw;
        text-align: center;
         font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    
}


